.home {
    display: flex;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;

    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 65vh;
        width: 90%;

        h1 {
            font-size: 3.5rem;
            color: var(--primary-color);
            width: 75%;
        }

        p {
            font-size: 1.1rem;
            color: var(--primary-color);
            width: 75%;
        }

        .button {
            button {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 40%;
                height: 8vh;
                background-color: var(--button-home);
                border: none;
                color: #fff;
                font-size: 1rem;
                cursor: pointer;

                img {
                    width: 8%;
                    height: 3vh;
                }
            }
        }
    }

    .dados {
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 30vh;

        .cardDados {
            color: var(--primary-color);
            text-align: center;

            .number {
                font-weight: 800;
                font-size: 2.5rem;
            }
        }
    }
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    img {
        width: 90%;
    }
}

@media (max-width: 320px) {
    .home {
        flex-direction: column;
    }

    .section1 {
        width: 100%;

        .info {
            height: auto;
            gap: 1rem;

            h1 {
                font-size: 1.8rem;
                width: 100%;
                text-align: center;
            }

            p {
                font-size: 0.9rem;
                width: 100%;
                text-align: center;
            }

            .button {
                display: flex;
                justify-content: center;

                button {
                    width: 90%;
                    height: 48px;
                    font-size: 0.9rem;

                    img {
                        width: 12%;
                        height: auto;
                    }
                }
            }
        }

        .dados {
            flex-direction: column;
            align-items: center;
            height: auto;
            gap: 1rem;

            .cardDados {
                .number {
                    font-size: 1.8rem;
                }
            }
        }
    }

    .section2 {
        width: 100%;
        margin-top: 1rem;

        img {
            width: 100%;
        }
    }
}

@media (min-width: 321px) and (max-width: 440px) {
    .home {
        flex-direction: column;
    }

    .section1 {
        width: 100%;

        .info {
            height: auto;
            gap: 1.4rem;

            h1 {
                font-size: 2.2rem;
                width: 100%;
                text-align: center;
            }

            p {
                font-size: 1rem;
                width: 100%;
                text-align: center;
            }

            .button {
                display: flex;
                justify-content: center;

                button {
                    width: 75%;
                    height: 52px;
                }
            }
        }

        .dados {
            flex-direction: column;
            align-items: center;
            gap: 1.2rem;
            height: auto;

            .cardDados {
                .number {
                    font-size: 2rem;
                }
            }
        }
    }

    .section2 {
        width: 100%;
        margin-top: 1.5rem;

        img {
            width: 95%;
        }
    }
}

@media (min-width: 768px) and (max-width: 884px) {
    .home {
        flex-direction: row;
    }

    .section1 {
        width: 55%;

        .info {
            height: auto;
            gap: 1.5rem;

            h1 {
                font-size: 2.6rem;
                width: 90%;
            }

            p {
                font-size: 1rem;
                width: 90%;
            }

            .button {
                button {
                    width: 55%;
                    height: 7vh;
                }
            }
        }

        .dados {
            height: auto;
            margin-top: 1rem;

            .cardDados {
                .number {
                    font-size: 2.2rem;
                }
            }
        }
    }

    .section2 {
        width: 45%;

        img {
            width: 95%;
        }
    }
}
